body{
    box-sizing: border-box;
    font-size: x-large;
    font-weight: bold;
    font-family: "Poppins";
    
}
#title{
    text-align: center;
}
.container{
    width:590px;
    margin: 70px auto;
    padding: 40px 20px;
    border-radius: 30px;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
li{
    margin-bottom: 40px;
}
.operation{
    display:inline-block;
    vertical-align: top;

}
.scope{
    display:inline-block;
    padding-left: 40px;
}
input{
    width: 15px; /* Kích thước của ô vuông */
    height: 15px;
    margin:  0 auto; /* Tự động căn giữa */
    display: block; /* Đảm bảo input là block */
    background-color: aliceblue;
    appearance: none;
    border-radius: 0; /* Loại bỏ bo tròn */
    cursor:pointer;
}
input:checked{
    background-color: black;
}
#start-button{
    font-size: xx-large;
    font-weight: bold;
    padding: 30px 20px;
    border-radius: 20px;
    border: 7px solid black;
    cursor: pointer;

}
.border-radio{
    display: inline-block; /* Đảm bảo div bao đúng kích thước */
    width: 25px;          /* Đặt chiều rộng cố định */
    height: 25px;         /* Đặt chiều cao bằng chiều rộng */
    border: 2px solid black;
    padding-top: 3px;
    background-color: aliceblue;
    box-sizing: border-box;
    text-align: center;
}
label{
    cursor:pointer;
}