body{
    background-image:url('../../image-asset/Math.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins';
    box-sizing: border-box; 
    color:aliceblue;
}